.feed {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.feed:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, .08);
}

.feed .image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.feed .image img {
    max-width: 100%;
}

.feed .text {

}

.feed .text .id {
    font-size: 14px;
    font-weight: 400;
}

.feed .text .name {
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
    text-transform: capitalize;
}
